html, body{
	height: 100%;
	width: 100%;
	font-family:"Helvetica";
}
.container-fluid{
	background-color: #ebf5ff
    background-position: 30% 87%;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100%;
    padding: 0px;
	display: table;
}
.top{	
	background: transparent;
	color: #ebf5ff;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    transition: text-shadow 500ms, color 500ms;
}
.top:hover{
	text-decoration: none;
	color:#42C0FB;
	text-shadow: 3px 3px 8px #171717;  
}
.row{
	display: table-row;
	position: relative;
	text-align: center;
	width: 100%;
	margin:0;
}
.rowtop{
	height: 80px;
	display: flex;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(to right, #007AFF, #00B4FF);
	box-shadow: 0 1px 150px #ebf5ff;
}
.middle{
	height:100%;
	background-color: #ebf5ff;
}
.head{
	color:#151515;
  	position: relative;
  	padding:0;
}

.icon{
	margin:0px;
}
.icon1{
	position: relative;
	transition: opacity;
	z-index: 1;
	left: 0;
	transition: opacity 1s linear;
}
.icon2{
	position: absolute;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
	display: inline-block;
	z-index: 0;
	transition: opacity 1s linear;
}
.icon1:hover{
	opacity:0;
}
.icon1:hover > .icon2{
	opacity: 1;
}
.bottom{
	font-family:"Courier New";
	color:#ebf5ff;
	font-weight: bold;
	background-color: rgba(0,0,0, 0.5); 
	display: flex;
	height: 50px;
	position: fixed;
	bottom: 0px;
	align-items: center;
	box-shadow: 0 -1px 150px #ebf5ff;
}
.bot{
	color: #ebf5ff;
}
.bot:hover{
	text-decoration: none;
	color: #ebf5ff;
	border-bottom: 1px solid;
}
.copyright, .heap{
	color:#D3D3D3;
	font-size: 10px;
}
.heap:hover{
	color:#D3D3D3;
}
.terms{
	width: 50%;
	text-align: left;
	padding-top: 50px;
	padding-left: 80px;
	padding-bottom: 50px;
}

h1{
	color:#151515;
	font-weight: 900px;
	font-size: 40px;
	text-decoration: underline;
}
h2{
	font-weight: 550px;
	font-size: 30px;
}

.main {
    width: 100%;
    height: 100%;
    display: block;
}
.login-page__container {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
    display: block;
    font-family:"Courier New";
}
.login-page__header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3rem;
    display: block;
}
.login-page__form {
    width: 350px;
    margin: 0 auto;
    text-align: left;
}
.login-page__form__input {
    margin-bottom: 1.5rem;
}
.login-page__form__input-header {

    font-size: 1rem;
    font-weight: bold;
    color: #272727;
    margin-bottom: 1rem;
}
.login-page__form__input > input {
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    font-size: 0.9rem;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.login-page__form__submit {
    height: 50px;
    width: 100%;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #007AFF;
    border: none;
    cursor: pointer;

    border-radius: 50px;
    outline: none;
}
