<!DOCTYPE html>
<html>
<head>
	<title>Capsule</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="icon" type="image/ico" href="../images/icon.jpg">
	<link rel="stylesheet" type="text/css" href="../stylesheets/stylecontactus.css">

</head>
<body>
	<div class="container-fluid">
	 		<div class="row rowtop">
	    		<div class="col col-1 icon">
	    			<a href="../index.html"><img class="icon1" src="../images/icon3.png" alt="Capsule Icon White" width="70px" height="70px"></a>
	    			<a href="../index.html"><img class="icon2" src="../images/icon4.png" alt="Capsule Icon Cyan" width="70px" height="70px"></a>
	    		</div>
	    		<div class="col col-1"><a class="link top" href="../templates/download.html">Download</a></div>
	    		<div class="col col-1"><a class="link top" href="https://medium.com/@teamtimecapsule" target="_blank">News</a></div>
	    		<div class="col col-1"><a class="link top" href="../templates/capsule.html">Capsule</a></div>
	    		<div class="col col-4"></div>
	    		<div class="col col-2"></div>
	    		<div class="col col-2"><a class="link top" href="../templates/login.html">Login</a></div>
	  		</div>

	  		<div class="row middle">
	    		<div class="col head">
		    		<div>
		    			<h1>Contact Us</h1>
		    			<div class="contact">
		    			<h3>Questions? Concerns? Feel free to reach out via:</h3>
		    			<a class="mail" href="mailto:capsule@capsule.li">• capsule@capsule.li</a>
		    			<a class="mail" href="mailto:josh@capsule.li">• josh@capsule.li</a>
		    			<h3>We'll get back to you within 48 hours.</h3>
		    			</div>
		    		</div>
		    		<div class="joshie">
		    		<a href="https://www.linkedin.com/in/joshuamchoi"><img class="josh" src="../images/josh.png" alt="Josh Choi Linkedin Profile Picture" width="400px" height="400px"></a>
		    		</div>

	    		</div>

	 		</div>
	  		<div class="row bottom">
	  			<div class="col col-3"></div>
	      		<div class="col col-2"><a class="link bot" href="../templates/privacy.html">Privacy Policy</a></div>
	      		<div class="col col-2"><a class="link bot" href="../templates/terms.html">Terms of Service</a></div>
	    		<div class="col col-2"><a class="link bot" href="about us.html">Contact Us</a></div>
	    		<div class="col col-2"></div>
	    		<div class="col col-1"><div class="copyright">&#169; 2017 Capsule</div></div>
	    	</div>
	</div>
</body>
</html>