<!DOCTYPE html>
<html>
<head>
	<title>News</title>
	<link rel="icon" type="image/ico" href="../images/icon.jpg">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<a href="../index.html" class="gradtext">HOME</a> 
	<a href="../templates/download.html" class="gradtext">DOWNLOAD</a>
	<a href="../templates/news.html" class="gradtext">NEWS</a>
	<a href="../templates/about us.html" class="gradtext">ABOUT US</a>
	<a href="../templates/terms.html" class="gradtext">TERMS</a>
	<a href="../templates/privacy.html" class="gradtext">PRIVACY</a>
	<a href="../templates/login.html" class="gradtext">LOGIN</a>

<h1 class="gradtext">News</h1>
	<a href="https://medium.com/@teamtimecapsule" target="_blank">Follow us on Medium</a>

	<p>
		Here, you'll find relevant information about any app updates, changes to our Terms of Service or Privacy Policy, <br/>
		and news about our company. Head over to Medium to stay up to date. <br/>
	</p>


</body>
</html>